[Unit]
Description=Change control threshold 55 60

[Service]
User=root
WorkingDirectory=/root
ExecStart=echo "55 60" > /sys/devices/platform/huawei-wmi/charge_control_thresholds

[Install]
WantedBy=multi-user.target
